* {
    font-family: Calibri, Arial;
    box-sizing: border-box;
}

h1 {
    color: #000000;
    text-align: center;
}

section {
    clear: left;
}

div.menu-item-box {
    margin: auto;
    width: 95%;
    border: 2px solid #000000;
    background-color: #cccccc;
    padding: 15px;
}

div.item-name {
    color: #ff0000;
    text-align: center;
    float: none;
    position: relative;
    
}

p.item-description {
    margin: 0px;
    text-align: justify;
}